        title {
            font-size: 200%;
        }

        body {
            background-image: url('../src/balloons-12.jpg');
            background-size: cover;
            font-family: Verdana, sans-serif;
            overflow: hidden;
        }
        
        p {
            display: block;
            color: purple;
            font-size: 24px;
            text-align: center;
            width: 45%;
            background-color: rgba(256,256,256,.75);
            margin: 56px auto 0 auto;
            padding: 1rem;
            border-radius: 1rem;
        }

        button {
            height: 3rem;
            text-align: center;
            display: block;
            border-radius: 10px;
            color: white;
            background-color: purple;
            /*padding: 12px;*/
            border-style: none;
            width: 200px;
            cursor: pointer;
            font-size: 1rem;
            transition: ease all .2s;
        }

        #create {
            margin: 11rem auto 2rem auto;
            opacity: 1;
            background-color: #004b8d;
                      /* DODAO SI Z-INDEX I POSITION RELATIVE */
            position: relative;
            z-index: 0;
            width: 260px;
        }

        #create:hover{
            box-shadow: 0px 0px 6px white;
        }

        button:disabled {
        	background-color: gray;
        	cursor: not-allowed;
        }

        button:enabled:hover {
            transition: ease all .2s;
            background-color: rgba(128, 0, 128, .7);
        }

        #test {
            line-height: 96px;
            height:  96px;
            font-size: 96px;
            font-weight: 800;
            font-family: 'Amatic SC', monospace;
            text-shadow: 2px 2px black;
            letter-spacing: 15px;
        }

        #jupi {
            visibility: hidden;
        }

        #cnt {
        	height: 24px;
        	width: 24px;
        	font-size: 12px;
        	line-height: 24px;
        	text-align: center;
        }

        #timer {
            display: none;
            width: 75%;
            height: 75%;
            font-size: 35em;
            color: purple;
            position: absolute;
            top: 50px;
            left: 12%;
            text-align: center;
            opacity: 0;
            animation: fade .5s linear;
            overflow: hidden;
            z-index: 5;
        }

        @keyframes fade {
        	0%, 100% {opacity: 0;}
        	25%, 75% {opacity: 1;}
        }

        #naslov {
        	font-size: 100px;
		    color: purple;
		    position: absolute;
		    width: 100%;
            top: -70px;
            right: 0px;
		    z-index: -10;
            text-shadow: 0px 0px 0px white,1px -1px 0px white,2px -2px 0px white,3px -3px 0px white,4px -4px 0px white,5px -5px 0px white,6px -6px 0px white,7px -7px 0px white,8px -8px 0px white,9px -9px 0px white,18px -18px 9px rgb(0,0,0,0.65);
            -webkit-text-stroke: 2px purple;
            text-stroke: 2px purple;
        }

        .bebac {
        	width: auto;
        	height: 150px;
        	position: absolute;
        	bottom: 0;
            width: auto;
            z-index: -10;
            /*transition: ease all 1s;*/
        }

        /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: purple;
  -moz-transition: .4s;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -moz-transition: .4s;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: purple;
}

input:focus + .slider {
  box-shadow: 0 0 1px purple;
}

input:checked + .slider:before {
  -moz-transform: translateX(26px);
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  box-shadow: inset 0px 0px 10px black;
}

.slider.round:before {
  border-radius: 50%;
}

#wrapper {
    width: 370px;
    text-align: center;
    background-color: rgba(255,255,255, .85);
    line-height: 3rem;
    position: absolute;
    top: 10px;
    right: 10px;
    color: purple;
    border-radius: 1rem;
    height: 3.5rem;
    /* DODAO SI Z-INDEX */
    z-index: -1;
}

.zaToggler {
    font-size: 3rem;
    font-variant: small-caps;
    font-weight: 600;
    display: inline-block;
    line-height: 3rem;
    background-color: #565656;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255,255,255,0.7);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

#bata {
    margin-right: 1rem;
    transition: ease all .2s;
}

#seka {
    margin-left: 1rem;
    transition: ease all .2s;
}

#modalWrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .5);
    z-index: 200;
    display: none;
}

#modal {
    width: 85%;
    height: 85%;
    position: absolute;
    top: 7.5%;
    left: 7.5%;
    border-radius: 1rem;
    float: left;
    z-index: 1000;
    margin: 0;
    padding: 0;
    display: none;
    box-shadow: 4px 4px 8px black;
    background-size: cover;
    text-align: center;
}

#iksic {
    position: absolute;
    top: .5em;
    right: .5em;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    color: purple;
    text-align: center;
    line-height: 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 900;
    border-radius: 50%;
}

#dugmeZaModal {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, .85);
    color: purple;
    font-size: 2rem;
    height: 3.5rem;
    line-height: 3.5rem;
    font-weight: 900;
    cursor: pointer;
    width: 200px;
    text-align: center;
    transition: ease all .2s;
/*dodao si zindex*/
    z-index: -1;
}

#dugmeZaModal:hover {
    background-color: rgba(255, 255, 255, .9);
    transition: ease all .2s;
    box-shadow: 2px 2px 4px black;
}

#dugmeZaModal:focus {
    border: none;
}

#gornjaLinija {
    margin: 0 auto;
    display: block;
}

#svaImenaWrap {
    border: 1px solid gray;
    border-radius: 1rem;
    height: 100%;
    display: block;
    background-color: rgba(255,255,255,.9);
}

#unosImena {
    float: left;
    display: inline-block;
    height: 2rem;
    width: 80%;
    border: 1px solid gray;
    border-radius: .5rem;
    padding-left: 10px;
    font-size: 1rem;
}

#slanjeImena {
    float: right;
    height: 2.2rem;
    line-height: 2rem;
    background-color: white;
    color: green;
    border: 2px solid green;
    border-radius: 5px;
    display: block;
    transition: ease all .2s;
    width: 17%;
}

#slanjeImena:hover {
    background-color: green;
    color: white;
    transition: ease all .2s;
}

#polImena {
    color: purple;
    display: inline-block;
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px 0 0 0;
}

.objasnjenje {
    font-size: 12px;
    min-width: 60%;
    color: gray;
    margin: 0 0 10px 10px;
    padding: 40px 0 5px 0;
    background-color: rgba(255,255,45, .8);
}

#omotacKolona {
    width: 95%;
    height: 90%;
    margin: 10px auto;
}

#levaKolona {
    float: left;
    width: 74%;
    height: 88%;
    display: block;
}

#levaKolonaNaslov {
    color: purple;
    font-size: 14px;
    text-align: center;
}

#desnaKolona {
    float: right;
    width: 25%;
    height: 100%;
    display: block;
}

#dodataImena {
    color: purple;
    font-size: 14px;
    /*margin-top: 10px;*/
    padding: 10px 0 0 0;
    margin: 0;
    text-align: center;
    display: block;
    height: 85%;
    border: 1px solid gray;
    border-radius: 1rem;
    overflow-y: scroll;
    background-color: rgba(255,255,255,.9);
}

#obrisiSve {
    margin: 15px auto;
    color: red;
    background-color: white;
    border-radius: 5px;
    border: 2px solid red;
    transition: ease all .2s;
    width: 75%;
}

#obrisiSve:hover {
    transition: ease all .2s;
    background-color: red;
    color: white
}

li {
    list-style: none;
}

.imeNaListi {
    text-align: left;
    font-size: 1.2rem;
    height: 2rem;
    line-height: 1.7rem;
    padding: 4px 10px;
    transition: ease all .5s;
}

.imeNaListi:hover {
    transition: ease all .5s;
    background-color: rgba(0,0,0,.1);
}

.beziDesno {
    float: right;
}

.brisanje {
    margin-right: 5px;
    color: red;
    border-radius: 50%;
    border: 1px solid red;
    height: 1.7rem;
    width: 1.7rem;
    text-align: center;
    line-height: 1.5rem;
    cursor: pointer;
    transition: ease all .2s;
}

.brisanje:hover {
    color: white;
    background-color: red;
    transition: ease all .2s;
}

#jezici {
    position: absolute;
    /*top: 4.5rem;*/
    bottom: 10px;
    left: 10px;
    /*height: 3.5rem;*/
    width: 200px;
    background-color: rgba(255, 255, 255, .50);
    border-radius: .5rem;
    /*padding: 5px;*/
}

.omotacZaJezik {
    /*line-height: 3.5rem;*/
    height: 3.5rem;
  /*  padding: 0 10px 0 10px;
    border-radius: 1rem;*/
    cursor: pointer;
    transition: ease all .2s;
    background-color: rgba(255,255,255,.3)
}



button.omotacZaJezik:hover {
    transition: ease all .2s;
    box-shadow: 2px 2px 4px black;
    background-color: transparent;
}

button.omotacZaJezik:disabled:hover {
    background-color: gray;
    box-shadow: none;
}

button.omotacZaJezik:disabled {
    border-radius: .5rem;
}

.odabraniJezik {
    background-color: rgba(255,255,255,.7);
    transition: ease all .2s;
    box-shadow: 2px 2px 4px black;
}

.zastava {
    width: 70px;
    background-color: transparent;
    display: inline-block;
}

.tipJezika {
    display: inline-block;
    width: 100px;
    color: purple;
    background-color: rgba(255, 255, 255, .85);
    border-radius: 1rem;
    line-height: 1.5rem;
    float: right;
    padding: 4px;
    margin-top: 0.7rem;
}

img {
    width: 55px;
    height: auto;
}


#pocetnaSlova {
    width: 75%;
    height: 3rem;
    margin: 15px auto 40px auto;
    text-align: center;
}

.pocetnoSlovo {
    width: 35px;
    height: 35px;
    display: inline-block;
    border: 2px solid purple;
    border-radius: 5px;
    margin: 2px;
    background-color: white;
    transition: ease all .2s;
    color: purple;
}

.pocetnoSlovo:hover, .pocetnoSlovo:enabled:hover, #odabrano {
    transition: ease all .2s;
    background-color: purple;
    color: white;
}

.ime {
    width: 150px;
    float: left;
    height: 1.5rem;
    color: rgba(0,0,0,.2);
    transition: ease all .2s;
    display: inline-block;
    cursor: pointer;
    font-weight: 600;
    margin: 0 1rem;
}

.odabranoIme, .ime:hover {
    color: green;
    transition: ease all .2s;
    background-color: rgba(255,45,215,.2);
}

#predlozenaImena {
    height: 70%;
    overflow-y: scroll;
}

.leviDeo {
    width: 85%;
    float: left;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 2rem;
    height: 2rem;
}


#podesavanjaJezicak {
    width: 3.5rem;
    height: 3.5rem;
    position: absolute;
    bottom: .5rem;
    right: 0;
    transition: ease all .6s;
    cursor: pointer;
}

#podesavanjaPanel {
    /*height: 15rem;*/
    /*width: 12rem;*/
    background-color: rgba(255,255,255,.7);
    border-radius: 1rem;
    position: absolute;
    /*bottom: .5rem;*/
    /*right: -12rem;*/
    /*bottom: 8px;*/
    /*right: -192px;*/
    margin-bottom: 8px;
    margin-right: -192px;
    transition: ease all .5s;
    height: 240px;
    width: 192px;
}

.red {
    padding: 10px;
    height: 2rem;
}

input[type="Number"]{
    font-size: 2rem;
    width: 60%;
}

img.panelIkonica {
    height: 2rem;
    width: 2rem;
    vertical-align: text-bottom;
}

.daNe {
    height: 4rem;
    width: 5rem;
    cursor: pointer;
}

#snimiPodesavanja {
    position: absolute;
    right: 6rem;
    bottom: .5rem;
}

#otkaziPodesavanja {
    position: absolute;
    right: 1rem;
    bottom: .5rem;
}

#favoriti {
    width: 3.5rem;
    position: absolute;
    bottom: 10px;
    left: 215px;
}

img.zvezdica {
    width: 2rem;
    height: 3.2rem;
    background-color: rgba(255,255,255,.8);
    padding: 0 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: ease all .3s;
}

img.zvezdica:hover {
    transition: ease all .3s;
    background-color: rgba(255,255,255,0);
}

img.oznacena {
    background-color: rgba(255,255,255,1);
}

#baloncic {
    background-color: white;
    border-radius: 20px;
    padding: .5rem 1rem;
    position: absolute;
    /*max-width: 16rem;*/
}


.thought {
  display:flex;
  background-color:#fff;
  padding:20px;
  border-radius:30px;
  min-width:40px;
  max-width:220px;
  min-height:40px;
  margin:20px;
  position:absolute;
  align-items:center;
  justify-content:center;
  text-align:center;
  word-wrap: anywhere;
  z-index: 200;
  box-shadow: 0 0 40px 5px black;
}
.thought:before,
.thought:after {
  content:"";
  background-color:#fff;
  border-radius:50%;
  display:block;
  position:absolute;
  z-index:-1;
}
.thought:before {
  width:44px;
  height:44px;
  top:-12px;
  left:28px;
  box-shadow:-50px 30px 0 -12px #fff;
}
.thought:after {
  bottom:-10px;
  right:26px;
  width:30px;
  height:30px;
  box-shadow:40px -34px 0 0 #fff,
             -28px -6px 0 -2px #fff,
             -24px 17px 0 -6px #fff,
             -5px 25px 0 -10px #fff;
  
}

#ieTekst {
    width: 150px;
    height: 150px;
    background-image: url('../src/1828666.svg');
    background-repeat: no-repeat;
    background-size: contain;
    margin: -260px auto;
}









#tog {
    width: 60px;
    height: 30px;
    display: inline-block;
    background: purple;
    border-radius: 1rem;
    box-shadow: inset 0px 0px 10px black;
    cursor: pointer;
}

#krug {
    background-color: white;
    box-shadow: 2px 2px 4px black;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-left: 6px;
    margin-top: 5px;
    transition: ease all .5s;
}

#bbWrapper {
    position: absolute;
    height: 450px;
    bottom: 0;
    width: 100%;
    z-index: -100;
}



#finale {
    width: 100%;
    height: 100%;
    z-index: 2000;
    position: absolute;
    top: 0;
    left: 0;
    cursor: not-allowed;
    transition: ease all 5s;
    display: none;
}


#srecko {
    margin: 0 auto;
    position: relative;
    z-index: 0;
    padding: 5px;
    height: auto;
    opacity: 1;
    display: inline-block;
    background-color: green;
    font-size: .85rem;
}

#detelina, img#detelina {
    height: 32px;
    width: auto;
    display: inline-block;
    position: absolute;
    top: -23px;
    right: -13px;
    margin: 0;
    padding: 0;
}

#srecko:hover {
    box-shadow: 0px 0px 4px black;
}

#wr {
    margin: 0 auto;
    width: 200px;
    position: relative;
}

#wrCr{
    margin: 0 auto;
    width: 320px;
    position: relative;
}


#upitnici {
    position: absolute;
    top: -41px;
    left: 0px;
    transform:rotate(-50deg);
    -ms-transform:rotate(-50deg); /* IE 9 */
    -moz-transform:rotate(-50deg); /* Firefox */
    -webkit-transform:rotate(-50deg); /* Safari */
}


#wrapZaDugmice {
    transition: ease all .5s;
    height: 5rem;
}


#omotacPodesavanja{
    position: absolute;
    bottom: 2px;
    right: 0;
}





















